<nav class="navbar navbar-dark">
    <a class="navbar-brand" href="/select">Welcome {{user.firstname}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/select">Home <span class="sr-only">(current)</span></a>
            </li>
            <form class="form-inline">
                <button class="btn btn-sm btn-outline-secondary" type="button" href="/logout" role="button" id='logout'>Log Out</button>
                <button class="btn btn-sm btn-outline-secondary" type="button" href="/myevents" role="button" id='myEvents'>My Events</button>
            </form>
            </li>
        </ul>
    </div>
</nav>

<div class='container'>
  <div class="row">
    <div class="col-sm">
      <h1>
        <center><span id='title'>Game On</span>
      </h1>
      </center>
    </div>
  </div>
  {{#each events}}
  <div class="row">
    <div class="card">
      <h5 class="card-header">{{eventName}}</h5>
      <div class="card-body">
        <h5 class="card-title">Event Stuff</h5>
        <p class="card-text">Event Planner: {{plannedBy}}</p>
        <p class="card-text">Event Date: {{eventDate}}</p>
        <p class="card-text">Event Time: {{eventTime}}</p>
        <p class="card-text">Game Name: {{gameName}}</p>
        <p class="card-text">Attendees: {{attendees}}</p>
        <a href="#" class="btn btn-primary" data-name={{id}} id="joinUp" data-toggle="modal" data-target="#createdSuccess">Join Up</a>
      </div>
    </div>
  </div>
  {{/each}}
</div>