<div class='container'>
  <div class="row">
    <div class="col-sm">
      <h1>
        <center><span id='title'>Game On</span>
      </h1>
      </center>
    </div>
  </div>
  <div class="row">
    {{#each event}}
    <div class="card">
      <h5 class="card-header">{{eventName}}</h5>
      <div class="card-body">
        <h5 class="card-title">Event Stuff</h5>
        <p class="card-text">Event Location: {{eventLocationName}}</p>
        <p class="card-text">Event Date: {{eventDate}}</p>
        <p class="card-text">Event Time: {{eventTime}}</p>
        <p class="card-text">Game Name: {{gameName}}</p>
        <a href="#" class="btn btn-primary">Join Up</a>
        <a href="#" class="btn btn-primary">View Details</a>
      </div>
    </div>
    {{/each}}
  </div>
</div>